<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="An application used in Data Enrichment for a Web Scraping project">
    <meta name="author" content="James Timms">

    <link href="../dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/dashboard.css" rel="stylesheet">
    <link rel="stylesheet" href="../node_modules/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="./css/ee-style.css">
    <link rel="icon" href="img/favicon.ico">
    <title>Mobile Fetcher</title>
</head>
<body>

<div id="data" class="table-responsive">

    <button v-if="crawling" onclick="pauseCrawl()" type="button" class="btn btn-primary btn-lg btn-block">Pause Crawl</button>
    <button v-else type="button" onclick="resumeCrawl()" class="btn btn-secondary btn-lg btn-block">Resume Crawl</button>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>Phone Name</th>
            <th>IPv6 Enabled?</th>
            <th>etc...</th>
            <th>etc...</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="url in urls">
            <td>{{url}}</td>
            <td>Lorem</td>
            <td>ipsum</td>
            <td>dolor</td>
            <td>sit</td>
        </tr>
        </tbody>
    </table>
</div>

<h2 class="sub-header">Phone Data</h2>
</body>
<!--<script src="js/scraping/test-crawl.js"></script>-->
<script src="js/scraping/test-robots.js"></script>
</html>
